<% if products.any? %>
  <% products.each do |p| %>
    <div class="feature left">
      <div class="media">
        <% image = capture do %>
          <% if p.image.present? %>    
            <img src="<%= p.image.url("100x100")%>" alt="<%= p.image.title %>" />
          <% end %>
        <% end %>

        <%= link_to(image, p.product.url, :title => p.title) %>
      </div>
      <div class="content"><span class="price"><%= number_to_currency(p.price, :unit => '&euro;') %></span>
        <h2><%= link_to(p.title, p.product.url, :title => p.title) %></h2>
        <div class="text">
          <%=p.teaser%>
        </div>
      </div>
      <div class="shop-navigation">   
        <div class="text">
          <%= link_to "View details", p.product.url %>&nbsp;
          <div class="submit">
            <% form_tag({:controller => "orders", :action => "update"}, :method => :put) do %>
              <%= hidden_field_tag "product_id", p.product.id %>
              <button type="submit"><span>Add to basket</span></button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <%end%>
<% end %>