<div class="feature left">
  <div class="media">
    <% if article_version.data.image.present? %>
      <img src="<%= article_version.data.image.url("100x100")%>" alt="<%= article_version.data.image.title %>" />
    <% else %>
      <img src="shop-100x100.gif" alt="shop">
    <% end %>
  </div>
  <div class="content"><span class="price"><%= number_to_currency(article_version.data.price, :unit => '&euro;') %></span>
    <h2><%= article_version.data.title %></h2>
    <div class="text">
      <strong><%= article_version.data.teaser %></strong>
    </div>
    <%= render_collection(article_version.sections) %>
    <div class="shop-navigation">   
       <div class="text">
        <%= form_tag(order_path(0), :method => :put) do %>
          <%= hidden_field_tag "product_id", article_version.article.id  %>
          <button type="submit"><span>Add to basket</span></button>
        <% end %>
      </div>

    </div>
  </div>
</div>
