<div class="shopping_basket">
  <table>
    <% @order.order_products.each do |op| %>
      <% if op.present? %>
        <tr>
          <td class="image">
            <% if op.product.published_publication_data.image.present? %>
              <%= image_tag(op.product.published_publication_data.image.url("50x50"), :alt => op.title) %>
            <% else %>
              <%= image_tag("shop-50x50.gif") %>
            <% end %>
          </td>
          <td class="title"><%= op.title %></td>
          <td class="amount"><%= "#{op.amount} x "  %><%= number_to_currency(op.price, :unit => "&euro;") %></td>
          <td class="buttons">
            <% form_for @order, :method => :put do |f|%>
              <%= hidden_field_tag "amount", op.amount - 1 %>
              <%= hidden_field_tag "product_id", op.product.id %>
              <%= image_submit_tag "/images/icons/minus.png" %>
            <% end %>
            
            <% form_for @order, :method => :put do |f|%>
              <%= hidden_field_tag "amount", op.amount + 1 %>
              <%= hidden_field_tag "product_id", op.product.id %>
              <%= image_submit_tag "/images/icons/add.png" %>
            <% end %>
          </td>
          <td class="price"><%= "#{number_to_currency((op.amount * op.price), :unit => '&euro;')}".html_safe %></td>
        </tr>
      <% end %>
    <% end %>
    <tr class="total">
      <td>&nbsp;</td>
      <td class="title">Total</td>
      <td class="price" colspan="3"><%= number_to_currency(total_price(@order), :unit => "&euro;").html_safe %></td>
    </tr>
  </table>
  <% if @confirm %>
    <h2>Personal details</h2>

    <% if @order.errors.size > 0 %>
      <p class="error">
        Not all the fields are filled in properly, please check your input and try again.
      </p>
    <% end %>

    <% form_for @order, :url => { :action => "update" } do |f| %>
      <%= f.hidden_field :status, :value => "Confirmed" %>
      <table>
        <tr>
          <th><%= f.label :name %>*</th>
          <td><%= f.text_field :name, :class => "text" %></td>
        </tr>
        <tr>
          <th><%= f.label :address %>*</th>
          <td><%= f.text_field :address, :class => "text" %></td>
        </tr>
        <tr>
          <th><%= f.label :town %>*</th>
          <td><%= f.text_field :town, :class => "text" %></td>
        </tr>
        <tr>
          <th><%= f.label :country %>*</th>
          <td><%= f.text_field :country, :class => "text" %></td>
        </tr>
        <tr>
          <th><%= f.label :email %>*</th>
          <td><%= f.text_field :email, :class => "text" %></td>
        </tr>      
      </table>
      <div class="submit">
        <button type="submit"><span>Confirm order</span></button>
      </div>
    <% end %>
  <% else %>
    <div class="text">
      <%= link_to "Continue shopping", Settings.andand.get_page(:shop, :shop_page_id).url %> 
      <div class="submit">
        <% form_for @order, :url => {:action => "edit"}, :html => {:method => :get} do |f| %>
          <%= hidden_field_tag "status", "confirm" %>
          <button type="submit"><span>Checkout order</span></button>
        <% end %>
      </div>
    </div>
  <% end %>
</div>