<div class="shopping_basket">
  <table>
    <% @order.order_products.each do |op| %>
      <% if op.present? %>
        <tr>
          <td class="image">
            <% if op.product.published_publication_data.image.present? %>
              <%= image_tag(op.product.published_publication_data.image.url("50x50"), :alt => op.title) %>
            <% else %>
              <%= image_tag("shop-50x50.gif") %>
            <% end %>
          </td>
          <td class="title"><%= op.title %></td>
          <td class="amount"><%= "#{op.amount} x "  %><%= number_to_currency(op.price, :unit => "&euro;") %></td>
          <td class="price"><%= "#{number_to_currency((op.amount * op.price), :unit => '&euro;')}" %></td>
        </tr>
      <% end %>
    <% end %>
    <tr class="total">
      <td>&nbsp;</td>
      <td class="title">Total</td>
      <td class="price" colspan="3"><%= number_to_currency(total_price(@order), :unit => "&euro") %></td>
    </tr>
  </table>
    
  <% if @order.errors.size > 0 %>
    <p class="error">
      Not all the fields are filled in properly, please check your input and try again.
    </p>
  <% end %>
  
  <% form_for @order, :url => { :action => "update" } do |f| %>
    <%= f.hidden_field :status, :value => "Confirmed" %>
    <table>
      <tr>
        <th><%= f.label :name %></th>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <th><%= f.label :address %></th>
        <td><%= f.text_field :address %></td>
      </tr>
      <tr>
        <th><%= f.label :town %></th>
        <td><%= f.text_field :town %></td>
      </tr>
      <tr>
        <th><%= f.label :country %></th>
        <td><%= f.text_field :country %></td>
      </tr>
      <tr>
        <th><%= f.label :email %></th>
        <td><%= f.text_field :email %></td>
      </tr>      
    </table>
    <div class="submit_row">
      <%= f.submit :confirm %>
    </div>
  <% end %>
</div>