<% if order.order_products.any? %>
  <dl class="highlight">
    <dt><img src="/images/icons/cart.png" alt="Shopping basket" />Shopping basket</dt>
    <dd>
      <ul class="links">
        <% order.order_products.each do |op| %>
          <li>
            <a href="<%= op.product.url %>">
              <strong><%= op.title %></strong><br />
              <span class="more"> <%= "#{op.amount} x "  %><%= number_to_currency(op.price, :unit => "&euro;") %> </span>
              <span class="price"><%= "#{number_to_currency((op.amount * op.price), :unit => '&euro;')}" %></span>
            </a>
          </li>  
        <%end%>
        <li class="total">
          <strong>Total</strong>
          <span class="more"><%= number_to_currency(total_price(order), :unit => "&euro") %></span>
          <div class="submit">
            <% form_for order, :url => {:controller => :orders, :action => "edit"}, :html => {:method => :get} do |f| %>
              <%= hidden_field_tag "status", "confirm" %>
              <button><span>Checkout order</span></button>
            <% end %>
          </div>
        </li>
      </ul>    
    </dd>
  </dl>
<% end %>